<nav class=" navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Countries</a>
       <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Add Country</a>
          </li>
  </ul> -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/addctr" >Add Country</a>
    </li>
    <button type="button" class="btn btn-outline-danger btn-rounded " data-mdb-ripple-color="dark"  (click)="logout()">Log Out</button>
  </ul>



      <div class="d-flex" role="search" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)="keyUp.next($event)" [(ngModel)]="searchedCountry">
         <button class="btn btn-outline-success" (click)="callSpecificCountry()">Search</button>
         <input  type="text"  (keyup)="keyUp.next($event)" >
        <!-- <a class="btn btn-outline-success" (click)="callSpecificCountry()" role="button">Search</a> -->
    
      </div>
    </div>
  


 